server/webHandler/node_modules
server/toaster/cpp/client
server/toaster/cpp/server
server/toaster/ior_file
server/toaster/cpp/GNUmakefile*
server/toaster/cpp/.*
server/toaster/cpp/Task1C.h
server/toaster/cpp/Task1C.cpp
server/toaster/cpp/Task1C.inl
server/toaster/cpp/Task1S.h
server/toaster/cpp/Task1S.cpp
server/toaster/java/Client/src/main/java/Task1/*
server/toaster/java/Client/target/*
